root = true

[*.cs]
dotnet_diagnostic.IDE0007.severity = none
dotnet_diagnostic.IDE0008.severity = none
dotnet_diagnostic.IDE0049.severity = none
dotnet_diagnostic.IDE0057.severity = none
csharp_style_prefer_raw_string_literals = false:none
resharper_suggest_var_or_type_built_in_types_highlighting = none
resharper_use_raw_string_literal_highlighting = none
resharper_convert_to_raw_string_highlighting = none
